<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>library</display-name>
  <welcome-file-list> <!-- 会自动从上到下找，第一个存在的为首页 -->
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.library.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>AddBookServlet</display-name>
    <servlet-name>AddBookServlet</servlet-name>
    <servlet-class>com.library.servlet.libAdmin.AddBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBookServlet</servlet-name>
    <url-pattern>/addBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBookServlet</display-name>
    <servlet-name>DeleteBookServlet</servlet-name>
    <servlet-class>com.library.servlet.libAdmin.DeleteBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBookServlet</servlet-name>
    <url-pattern>/deleteBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InfoBookServlet</display-name>
    <servlet-name>InfoBookServlet</servlet-name>
    <servlet-class>com.library.servlet.libAdmin.InfoBookServlet</servlet-class>
  </servlet>
  
  
  
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.library.servlet.user.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>FindUserPageServlet</display-name>
    <servlet-name>FindUserPageServlet</servlet-name>
    <servlet-class>com.library.servlet.user.FindUserPageServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>AddUserServlet</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>com.library.servlet.user.AddUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>FindUserByIdServlet</display-name>
    <servlet-name>FindUserByIdServlet</servlet-name>
    <servlet-class>com.library.servlet.user.FindUserByIdServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>UpdateUserServlet</display-name>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>com.library.servlet.user.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>DeleteUsersByIdsServlet</display-name>
    <servlet-name>DeleteUsersByIdsServlet</servlet-name>
    <servlet-class>com.library.servlet.user.DeleteUsersByIdsServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>FindUserByUsernameServlet</display-name>
    <servlet-name>FindUserByUsernameServlet</servlet-name>
    <servlet-class>com.library.servlet.user.FindUserByUsernameServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>FindAllBorrowServlet</display-name>
    <servlet-name>FindAllBorrowServlet</servlet-name>
    <servlet-class>com.library.servlet.borrow.FindAllBorrowServlet</servlet-class>
  </servlet>
  
  
  
  <servlet>
    <description></description>
    <display-name>EditBorrowServlet</display-name>
    <servlet-name>EditBorrowServlet</servlet-name>
    <servlet-class>com.library.servlet.borrow.EditBorrowServlet</servlet-class>
  </servlet>
   <servlet>
    <description></description>
    <display-name>InfoBorrowServlet</display-name>
    <servlet-name>InfoBorrowServlet</servlet-name>
    <servlet-class>com.library.servlet.borrow.InfoBorrowServlet</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
    <servlet-name>InfoBookServlet</servlet-name>
    <url-pattern>/infoBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditBookServlet</display-name>
    <servlet-name>EditBookServlet</servlet-name>
    <servlet-class>com.library.servlet.libAdmin.EditBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditBookServlet</servlet-name>
    <url-pattern>/editBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAllBookServlet</display-name>
    <servlet-name>FindAllBookServlet</servlet-name>
    <servlet-class>com.library.servlet.libAdmin.FindAllBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllBookServlet</servlet-name>
    <url-pattern>/findAllBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.library.servlet.user.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FindAllBorrowServlet1</servlet-name>
    <servlet-class>com.library.servlet.borrow.FindAllBorrowServlet1</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindUserPageServlet</servlet-name>
    <url-pattern>/findUserPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/addUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindUserByIdServlet</servlet-name>
    <url-pattern>/findUserById</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/updateUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteUsersByIdsServlet</servlet-name>
    <url-pattern>/deleteUsersByIds</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindUserByUsernameServlet</servlet-name>
    <url-pattern>/findUserByUsername</url-pattern>
  </servlet-mapping>
  
  
  <servlet-mapping>
    <servlet-name>FindAllBorrowServlet</servlet-name>
    <url-pattern>/findAllBorrowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditBorrowServlet</servlet-name>
    <url-pattern>/editBorrowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InfoBorrowServlet</servlet-name>
    <url-pattern>/infoBorrowServlet</url-pattern>
  </servlet-mapping>
 
</web-app>